<a href="https://colab.research.google.com/github/Srinivas1258/ML-DL/blob/master/ML/ML_binary_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from google.colab import files
# files.upload()

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
y=train['income_>50K']
train=train.drop(columns='income_>50K')
train.head()

   age  workclass  fnlwgt  ... capital-loss  hours-per-week native-country
0   67    Private  366425  ...            0              60  United-States
1   17    Private  244602  ...            0              15  United-States
2   31    Private  174201  ...            0              40  United-States
3   58  State-gov  110199  ...            0              40  United-States
4   25  State-gov  149248  ...            0              40  United-States

[5 rows x 14 columns]

In [3]:
#target variable- income_>50K
# test.shape

In [4]:
train.describe()

                age        fnlwgt  ...  capital-loss  hours-per-week
count  43957.000000  4.395700e+04  ...  43957.000000    43957.000000
mean      38.617149  1.896730e+05  ...     88.246491       40.407694
std       13.734401  1.058215e+05  ...    404.588410       12.400303
min       17.000000  1.349200e+04  ...      0.000000        1.000000
25%       28.000000  1.174960e+05  ...      0.000000       40.000000
50%       37.000000  1.781000e+05  ...      0.000000       40.000000
75%       48.000000  2.376710e+05  ...      0.000000       45.000000
max       90.000000  1.490400e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

In [5]:
train.isnull().sum()

age                   0
workclass          2498
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2506
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      763
dtype: int64

In [6]:
train=train.fillna(method='ffill')

train.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
dtype: int64

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43957 entries, 0 to 43956
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              43957 non-null  int64
 1   workclass        43957 non-null  object
 2   fnlwgt           43957 non-null  int64
 3   education        43957 non-null  object
 4   educational-num  43957 non-null  int64
 5   marital-status   43957 non-null  object
 6   occupation       43957 non-null  object
 7   relationship     43957 non-null  object
 8   race             43957 non-null  object
 9   gender           43957 non-null  object
 10  capital-gain     43957 non-null  int64
 11  capital-loss     43957 non-null  int64
 12  hours-per-week   43957 non-null  int64
 13  native-country   43957 non-null  object
dtypes: int64(6), object(8)
memory usage: 4.7+ MB

In [8]:
# encode_columns=['workclass','education','marital-status','marital-status','relationship','race','gender','native-country']
objList = train.select_dtypes(include = "object").columns
print (objList)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in objList:
    train[col] = le.fit_transform(train[col].astype(str))

train.info()

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43957 entries, 0 to 43956
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              43957 non-null  int64
 1   workclass        43957 non-null  int64
 2   fnlwgt           43957 non-null  int64
 3   education        43957 non-null  int64
 4   educational-num  43957 non-null  int64
 5   marital-status   43957 non-null  int64
 6   occupation       43957 non-null  int64
 7   relationship     43957 non-null  int64
 8   race             43957 non-null  int64
 9   gender           43957 non-null  int64
 10  capital-gain     43957 non-null  int64
 11  capital-loss     43957 non-null  int64
 12  hours-per-week   43957 non-null  int64
 13  native-country   43957 non-null  int64
dtypes: int64(14)
memory usage: 4.7 MB

In [9]:
objList1 = test.select_dtypes(include = "object").columns
print (objList1)
# from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in objList:
    test[col] = le.fit_transform(test[col].astype(str))

test.info()

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              899 non-null    int64
 1   workclass        899 non-null    int64
 2   fnlwgt           899 non-null    int64
 3   education        899 non-null    int64
 4   educational-num  899 non-null    int64
 5   marital-status   899 non-null    int64
 6   occupation       899 non-null    int64
 7   relationship     899 non-null    int64
 8   race             899 non-null    int64
 9   gender           899 non-null    int64
 10  capital-gain     899 non-null    int64
 11  capital-loss     899 non-null    int64
 12  hours-per-week   899 non-null    int64
 13  native-country   899 non-null    int64
dtypes: int64(14)
memory usage: 98.5 KB

In [10]:
print(f'train shape :{train.shape},test shape is {test.shape}')

train shape :(43957, 14),test shape is (899, 14)

In [36]:
# train=pd.get_dummies(train,columns=['workclass','education','marital-status','occupation','relationship','race','gender','native-country'],prefix=['wrk','educ','married','occ','rela','race_','gender_','native_c'],drop_first=True)
# test=pd.get_dummies(test,columns=['workclass','education','marital-status','occupation','relationship','race','gender','native-country'],prefix=['wrk','educ','married','occ','rela','race_','gender_','native_c'],drop_first=True)

# print(f'train shape :{train_scaled.shape},test shape is {test_scaled.shape}')

train shape :(43957, 105),test shape is (899, 91)

In [10]:

# x=train[:]
# x.head()

In [11]:
columns1=train.columns
columns2=test.columns

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
data=train.values
data2=test.values
data_scaled=scaler.fit_transform(data)
data_scaled2=scaler.fit_transform(data2)
train_scaled=pd.DataFrame(data=data_scaled,columns=columns1)
test_scaled=pd.DataFrame(data=data2,columns=columns2)
train_scaled.head()

        age  workclass    fnlwgt  ...  capital-loss  hours-per-week  native-country
0  0.684932   0.428571  0.238967  ...           0.0        0.602041            0.95
1  0.000000   0.428571  0.156482  ...           0.0        0.142857            0.95
2  0.191781   0.428571  0.108814  ...           0.0        0.397959            0.95
3  0.561644   0.857143  0.065479  ...           0.0        0.397959            0.95
4  0.109589   0.857143  0.091919  ...           0.0        0.397959            0.95

[5 rows x 14 columns]

In [13]:
print(f'train shape :{train_scaled.shape},test shape is {test_scaled.shape}')

train shape :(43957, 14),test shape is (899, 14)

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(train_scaled,y,test_size=0.2,random_state=42)
X_train.shape

(35165, 14)

In [15]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
rf.score(X_test,y_test)

0.85475432211101

In [16]:
pred=rf.predict(test_scaled)
pred

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1])

In [18]:
pred=pd.DataFrame(data=pred,columns=['outcome'])
pred.head()

   outcome
0        0
1        0
2        0
3        1
4        0

In [21]:
pred.to_csv('result.csv')
files.download('result.csv')