<a href="https://colab.research.google.com/github/Srinivas1258/ML-DL/blob/master/Detecting_sentiments_of_a_quote.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You work as a social media moderator for your firm. Your key responsibility is to tag uploaded content (images) during Pride Month based on its sentiment (positive, negative, or random) and categorize them for internal reference and SEO optimization.

Task
Your task is to build an engine that combines the concepts of OCR and NLP that accepts a .jpg file as input, extracts the text, if any, and classifies sentiment as positive or negative. If the text sentiment is neutral or an image file does not have any text, then it is classified as random.

Data
You must use an external dataset to train your model. The attached dataset link contains the sample data of each category [Positive | Negative | Random] and test data.

Data files

File name	Description
Test.zip	Contains image files to be classified
Sample.zip	Contains sample image files belonging to each category
Test.csv	Predictions file containing indices of test data and a blank target column
sample_submission.csv	Submission format to be followed for uploading predictions
Data description

Column name	Description


Filename	File name of test data image

Category	Target column [values: 'Positive'/'Negative'/'Random']

In [53]:
! apt install tesseract-ocr
! apt install libtesseract-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  tesseract-ocr-eng tesseract-ocr-osd
The following NEW packages will be installed:
  tesseract-ocr tesseract-ocr-eng tesseract-ocr-osd
0 upgraded, 3 newly installed, 0 to remove and 33 not upgraded.
Need to get 4,795 kB of archives.
After this operation, 15.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-eng all 4.00~git24-0e00fe6-1.2 [1,588 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr-osd all 4.00~git24-0e00fe6-1.2 [2,989 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tesseract-ocr amd64 4.00~git2288-10f4998a-2 [218 kB]
Fetched 4,795 kB in 2s (2,847 kB/s)
Selecting previously unselected package tesseract-ocr-eng.
(Reading database ... 144379 files and directories currently installed.)
Preparing to unpack .../tesseract-ocr-eng_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr-osd.
Preparing to unpack .../tesseract-ocr-osd_4.00~git24-0e00fe6-1.2_all.deb ...
Unpacking tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Selecting previously unselected package tesseract-ocr.
Preparing to unpack .../tesseract-ocr_4.00~git2288-10f4998a-2_amd64.deb ...
Unpacking tesseract-ocr (4.00~git2288-10f4998a-2) ...
Setting up tesseract-ocr-osd (4.00~git24-0e00fe6-1.2) ...
Setting up tesseract-ocr-eng (4.00~git24-0e00fe6-1.2) ...
Setting up tesseract-ocr (4.00~git2288-10f4998a-2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libleptonica-dev
The following NEW packages will be installed:
  libleptonica-dev libtesseract-dev
0 upgraded, 2 newly installed, 0 to remove and 33 not upgraded.
Need to get 2,755 kB of archives.
After this operation, 13.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libleptonica-dev amd64 1.75.3-3 [1,308 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libtesseract-dev amd64 4.00~git2288-10f4998a-2 [1,447 kB]
Fetched 2,755 kB in 2s (1,320 kB/s)
Selecting previously unselected package libleptonica-dev.
(Reading database ... 144426 files and directories currently installed.)
Preparing to unpack .../libleptonica-dev_1.75.3-3_amd64.deb ...
Unpacking libleptonica-dev (1.75.3-3) ...
Selecting previously unselected package libtesseract-dev.
Preparing to unpack .../libtesseract-dev_4.00~git2288-10f4998a-2_amd64.deb ...
Unpacking libtesseract-dev (4.00~git2288-10f4998a-2) ...
Setting up libleptonica-dev (1.75.3-3) ...
Setting up libtesseract-dev (4.00~git2288-10f4998a-2) ...

In [54]:
! pip install Pillow
! pip install pytesseract

Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (7.0.0)
Collecting pytesseract
  Downloading https://files.pythonhosted.org/packages/1d/d8/521db389ff0aae32035bfda6ed39cb2c2e28521c47015f6431f07460c50a/pytesseract-0.3.4.tar.gz
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pytesseract) (7.0.0)
Building wheels for collected packages: pytesseract
  Building wheel for pytesseract (setup.py) ... done
  Created wheel for pytesseract: filename=pytesseract-0.3.4-py2.py3-none-any.whl size=13431 sha256=c9160c5c83a50484fcb7d1ff181ab15123899fa39c9791cfacd1aef77228a5b7
  Stored in directory: /root/.cache/pip/wheels/63/2a/a0/7596d2e0a73cf0aeffd6f6170862c4e73f3763b7827e48691a
Successfully built pytesseract
Installing collected packages: pytesseract
Successfully installed pytesseract-0.3.4

In [55]:
from google.colab import files
uploaded=files.upload()

Saving quote.zip to quote.zip

In [56]:
!unzip quote.zip

Archive:  quote.zip
   creating: Data Files/
   creating: Data Files/Dataset/
  inflating: Data Files/Dataset/Test903.jpg
  inflating: Data Files/Dataset/Test2434.jpg
  inflating: Data Files/Dataset/Test145.jpg
  inflating: Data Files/Dataset/Test1615.jpg
  inflating: Data Files/Dataset/Test1122.jpg
  inflating: Data Files/Dataset/Test132.jpg
  inflating: Data Files/Dataset/Test2959.jpg
  inflating: Data Files/Dataset/Test109.jpg
  inflating: Data Files/Dataset/Test114.jpg
  inflating: Data Files/Dataset/Test230.jpg
  inflating: Data Files/Dataset/Test536.jpg
  inflating: Data Files/Dataset/Test516.jpg
  inflating: Data Files/Dataset/Test233.jpg
  inflating: Data Files/Dataset/Test2792.jpg
  inflating: Data Files/Dataset/Test119.jpg
  inflating: Data Files/Dataset/Test2616.jpg
  inflating: Data Files/Dataset/Test1934.jpg
  inflating: Data Files/Dataset/Test803.jpg
  inflating: Data Files/Dataset/Test3030.jpg
  inflating: Data Files/Dataset/Test240.jpg
  inflating: Data Files/Dataset/Test107.jpg
  inflating: Data Files/Dataset/Test212.jpg
  inflating: Data Files/Dataset/Test2870.jpg
  inflating: Data Files/Dataset/Test757.jpg
  inflating: Data Files/Dataset/Test245.jpg
  inflating: Data Files/Dataset/Test243.jpg
  inflating: Data Files/Dataset/Test1923.jpg
  inflating: Data Files/Dataset/Test3177.jpg
  inflating: Data Files/Dataset/Test103.jpg
  inflating: Data Files/Dataset/Test482.jpg
  inflating: Data Files/Dataset/Test890.jpg
  inflating: Data Files/Dataset/Test372.jpg
  inflating: Data Files/Dataset/Test2648.jpg
  inflating: Data Files/Dataset/Test1353.jpg
  inflating: Data Files/Dataset/Test812.jpg
  inflating: Data Files/Dataset/Test1271.jpg
  inflating: Data Files/Dataset/Test523.jpg
  inflating: Data Files/Dataset/Test129.jpg
  inflating: Data Files/Dataset/Test140.jpg
  inflating: Data Files/Dataset/Test581.jpg
  inflating: Data Files/Dataset/Test353.jpg
  inflating: Data Files/Dataset/Test1012.jpg
  inflating: Data Files/Dataset/Test779.jpg
  inflating: Data Files/Dataset/Test141.jpg
  inflating: Data Files/Dataset/Test179.jpg
  inflating: Data Files/Dataset/Test113.jpg
  inflating: Data Files/Dataset/Test1359.jpg
  inflating: Data Files/Dataset/Test162.jpg
  inflating: Data Files/Dataset/Test198.jpg
  inflating: Data Files/Dataset/Test151.jpg
  inflating: Data Files/Dataset/Test1022.jpg
  inflating: Data Files/Dataset/Test125.jpg
  inflating: Data Files/Dataset/Test449.jpg
  inflating: Data Files/Dataset/Test213.jpg
  inflating: Data Files/Dataset/Test2235.jpg
  inflating: Data Files/Dataset/Test789.jpg
  inflating: Data Files/Dataset/Test833.jpg
  inflating: Data Files/Dataset/Test1279.jpg
  inflating: Data Files/Dataset/Test533.jpg
  inflating: Data Files/Dataset/Test105.jpg
  inflating: Data Files/Dataset/Test134.jpg
  inflating: Data Files/Dataset/Test3706.jpg
  inflating: Data Files/Dataset/Test3625.jpg
  inflating: Data Files/Dataset/Test172.jpg
  inflating: Data Files/Dataset/Test1803.jpg
  inflating: Data Files/Dataset/Test128.jpg
  inflating: Data Files/Dataset/Test135.jpg
  inflating: Data Files/Dataset/Test236.jpg
  inflating: Data Files/Dataset/Test192.jpg
  inflating: Data Files/Dataset/Test1785.jpg
  inflating: Data Files/Dataset/Test489.jpg
  inflating: Data Files/Dataset/Test1644.jpg
  inflating: Data Files/Dataset/Test238.jpg
  inflating: Data Files/Dataset/Test2280.jpg
  inflating: Data Files/Dataset/Test929.jpg
  inflating: Data Files/Dataset/Test545.jpg
  inflating: Data Files/Dataset/Test225.jpg
  inflating: Data Files/Dataset/Test136.jpg
  inflating: Data Files/Dataset/Test912.jpg
  inflating: Data Files/Dataset/Test1290.jpg
  inflating: Data Files/Dataset/Test117.jpg
  inflating: Data Files/Dataset/Test490.jpg
  inflating: Data Files/Dataset/Test1767.jpg
  inflating: Data Files/Dataset/Test144.jpg
  inflating: Data Files/Dataset/Test2590.jpg
  inflating: Data Files/Dataset/Test2209.jpg
  inflating: Data Files/Dataset/Test211.jpg
  inflating: Data Files/Dataset/Test378.jpg
  inflating: Data Files/Dataset/Test173.jpg
  inflating: Data Files/Dataset/Test941.jpg
  inflating: Data Files/Dataset/Test188.jpg
  inflating: Data Files/Dataset/Test1837.jpg
  inflating: Data Files/Dataset/Test2650.jpg
  inflating: Data Files/Dataset/Test191.jpg
  inflating: Data Files/Dataset/Test3525.jpg
  inflating: Data Files/Dataset/Test149.jpg
  inflating: Data Files/Dataset/Test131.jpg
  inflating: Data Files/Dataset/Test498.jpg
  inflating: Data Files/Dataset/Test360.jpg
  inflating: Data Files/Dataset/Test3277.jpg
  inflating: Data Files/Dataset/Test161.jpg
  inflating: Data Files/Dataset/Test1884.jpg
  inflating: Data Files/Dataset/Test751.jpg
  inflating: Data Files/Dataset/Test668.jpg
  inflating: Data Files/Dataset/Test606.jpg
  inflating: Data Files/Dataset/Test242.jpg
  inflating: Data Files/Dataset/Test1885.jpg
  inflating: Data Files/Dataset/Test993.jpg
  inflating: Data Files/Dataset/Test126.jpg
  inflating: Data Files/Dataset/Test2455.jpg
  inflating: Data Files/Dataset/Test979.jpg
  inflating: Data Files/Dataset/Test824.jpg
  inflating: Data Files/Dataset/Test187.jpg
  inflating: Data Files/Dataset/Test1001.jpg
  inflating: Data Files/Dataset/Test1889.jpg
  inflating: Data Files/Dataset/Test218.jpg
  inflating: Data Files/Dataset/Test1634.jpg
  inflating: Data Files/Dataset/Test228.jpg
  inflating: Data Files/Dataset/Test3159.jpg
  inflating: Data Files/Dataset/Test2791.jpg
  inflating: Data Files/Dataset/Test3294.jpg
  inflating: Data Files/Dataset/Test164.jpg
  inflating: Data Files/Dataset/Test244.jpg
  inflating: Data Files/Dataset/Test237.jpg
  inflating: Data Files/Dataset/Test3893.jpg
  inflating: Data Files/Dataset/Test100.jpg
  inflating: Data Files/Dataset/Test526.jpg
  inflating: Data Files/Dataset/Test614.jpg
  inflating: Data Files/Dataset/Test3024.jpg
  inflating: Data Files/Dataset/Test3934.jpg
  inflating: Data Files/Dataset/Test227.jpg
  inflating: Data Files/Dataset/Test811.jpg
  inflating: Data Files/Dataset/Test3749.jpg
  inflating: Data Files/Dataset/Test122.jpg
  inflating: Data Files/Dataset/Test396.jpg
  inflating: Data Files/Dataset/Test204.jpg
  inflating: Data Files/Dataset/Test835.jpg
  inflating: Data Files/Dataset/Test239.jpg
  inflating: Data Files/Dataset/Test397.jpg
  inflating: Data Files/Dataset/Test176.jpg
  inflating: Data Files/Dataset/Test3798.jpg
  inflating: Data Files/Dataset/Test181.jpg
  inflating: Data Files/Dataset/Test180.jpg
  inflating: Data Files/Dataset/Test945.jpg
  inflating: Data Files/Dataset/Test3130.jpg
  inflating: Data Files/Dataset/Test2007.jpg
  inflating: Data Files/Dataset/Test168.jpg
  inflating: Data Files/Dataset/Test843.jpg
  inflating: Data Files/Dataset/Test2309.jpg
  inflating: Data Files/Dataset/Test677.jpg
  inflating: Data Files/Dataset/Test884.jpg
  inflating: Data Files/Dataset/Test209.jpg
  inflating: Data Files/Dataset/Test859.jpg
  inflating: Data Files/Dataset/Test778.jpg
  inflating: Data Files/Dataset/Test2743.jpg
  inflating: Data Files/Dataset/Test1240.jpg
  inflating: Data Files/Dataset/Test861.jpg
  inflating: Data Files/Dataset/Test624.jpg
  inflating: Data Files/Dataset/Test1818.jpg
  inflating: Data Files/Dataset/Test206.jpg
  inflating: Data Files/Dataset/Test519.jpg
  inflating: Data Files/Dataset/Test374.jpg
  inflating: Data Files/Dataset/Test3360.jpg
  inflating: Data Files/Dataset/Test2424.jpg
  inflating: Data Files/Dataset/Test837.jpg
  inflating: Data Files/Dataset/Test440.jpg
  inflating: Data Files/Dataset/Test3750.jpg
  inflating: Data Files/Dataset/Test221.jpg
  inflating: Data Files/Dataset/Test522.jpg
  inflating: Data Files/Dataset/Test234.jpg
  inflating: Data Files/Dataset/Test143.jpg
  inflating: Data Files/Dataset/Test2962.jpg
  inflating: Data Files/Dataset/Test644.jpg
  inflating: Data Files/Dataset/Test2049.jpg
  inflating: Data Files/Dataset/Test3863.jpg
  inflating: Data Files/Dataset/Test3789.jpg
  inflating: Data Files/Dataset/Test1071.jpg
  inflating: Data Files/Dataset/Test957.jpg
  inflating: Data Files/Dataset/Test165.jpg
  inflating: Data Files/Dataset/Test612.jpg
  inflating: Data Files/Dataset/Test1743.jpg
  inflating: Data Files/Dataset/Test400.jpg
  inflating: Data Files/Dataset/Test3118.jpg
  inflating: Data Files/Dataset/Test3827.jpg
  inflating: Data Files/Dataset/Test1776.jpg
  inflating: Data Files/Dataset/Test231.jpg
  inflating: Data Files/Dataset/Test661.jpg
  inflating: Data Files/Dataset/Test108.jpg
  inflating: Data Files/Dataset/Test760.jpg
  inflating: Data Files/Dataset/Test1992.jpg
  inflating: Data Files/Dataset/Test942.jpg
  inflating: Data Files/Dataset/Test1229.jpg
  inflating: Data Files/Dataset/Test3512.jpg
  inflating: Data Files/Dataset/Test1902.jpg
  inflating: Data Files/Dataset/Test183.jpg
  inflating: Data Files/Dataset/Test2114.jpg
  inflating: Data Files/Dataset/Test1872.jpg
  inflating: Data Files/Dataset/Test250.jpg
  inflating: Data Files/Dataset/Test3975.jpg
  inflating: Data Files/Dataset/Test527.jpg
  inflating: Data Files/Dataset/Test761.jpg
  inflating: Data Files/Dataset/Test1620.jpg
  inflating: Data Files/Dataset/Test2411.jpg
  inflating: Data Files/Dataset/Test834.jpg
  inflating: Data Files/Dataset/Test660.jpg
  inflating: Data Files/Dataset/Test133.jpg
  inflating: Data Files/Dataset/Test160.jpg
  inflating: Data Files/Dataset/Test158.jpg
  inflating: Data Files/Dataset/Test194.jpg
  inflating: Data Files/Dataset/Test1717.jpg
  inflating: Data Files/Dataset/Test216.jpg
  inflating: Data Files/Dataset/Test2068.jpg
  inflating: Data Files/Dataset/Test946.jpg
  inflating: Data Files/Dataset/Test2371.jpg
  inflating: Data Files/Dataset/Test1856.jpg
  inflating: Data Files/Dataset/Test2977.jpg
  inflating: Data Files/Dataset/Test232.jpg
  inflating: Data Files/Dataset/Test665.jpg
  inflating: Data Files/Dataset/Test1199.jpg
  inflating: Data Files/Dataset/Test3864.jpg
  inflating: Data Files/Dataset/Test587.jpg
  inflating: Data Files/Dataset/Test166.jpg
  inflating: Data Files/Dataset/Test3985.jpg
  inflating: Data Files/Dataset/Test154.jpg
  inflating: Data Files/Dataset/Test715.jpg
  inflating: Data Files/Dataset/Test3265.jpg
  inflating: Data Files/Dataset/Test152.jpg
  inflating: Data Files/Dataset/Test1724.jpg
  inflating: Data Files/Dataset/Test1954.jpg
  inflating: Data Files/Dataset/Test249.jpg
  inflating: Data Files/Dataset/Test937.jpg
  inflating: Data Files/Dataset/Test417.jpg
  inflating: Data Files/Dataset/Test201.jpg
  inflating: Data Files/Dataset/Test1161.jpg
  inflating: Data Files/Dataset/Test3566.jpg
  inflating: Data Files/Dataset/Test579.jpg
  inflating: Data Files/Dataset/Test422.jpg
  inflating: Data Files/Dataset/Test3246.jpg
  inflating: Data Files/Dataset/Test1788.jpg
   creating: Data Files/Sample Data Files/
  inflating: Data Files/Sample Data Files/Sample_Negative.jpg
  inflating: Data Files/Sample Data Files/Sample_Positive.jpg
  inflating: Data Files/Sample Data Files/Sample_Random.jpg
  inflating: Data Files/Sample_Submission.csv
  inflating: Data Files/Test.csv

LOVE
Céve

('Data Files/Dataset', [], ['Test522.jpg', 'Test1788.jpg', 'Test1122.jpg', 'Test3130.jpg', 'Test2371.jpg', 'Test1767.jpg', 'Test523.jpg', 'Test2959.jpg', 'Test612.jpg', 'Test942.jpg', 'Test1717.jpg', 'Test1872.jpg', 'Test519.jpg', 'Test660.jpg', 'Test614.jpg', 'Test778.jpg', 'Test396.jpg', 'Test941.jpg', 'Test979.jpg', 'Test946.jpg', 'Test545.jpg', 'Test3246.jpg', 'Test1071.jpg', 'Test213.jpg', 'Test145.jpg', 'Test2007.jpg', 'Test3566.jpg', 'Test1837.jpg', 'Test372.jpg', 'Test154.jpg', 'Test824.jpg', 'Test490.jpg', 'Test812.jpg', 'Test757.jpg', 'Test1776.jpg', 'Test1290.jpg', 'Test109.jpg', 'Test3827.jpg', 'Test498.jpg', 'Test843.jpg', 'Test1803.jpg', 'Test230.jpg', 'Test378.jpg', 'Test579.jpg', 'Test993.jpg', 'Test2235.jpg', 'Test1885.jpg', 'Test232.jpg', 'Test1634.jpg', 'Test1856.jpg', 'Test3789.jpg', 'Test151.jpg', 'Test2209.jpg', 'Test536.jpg', 'Test1785.jpg', 'Test668.jpg', 'Test181.jpg', 'Test789.jpg', 'Test3864.jpg', 'Test100.jpg', 'Test3863.jpg', 'Test890.jpg', 'Test108.jpg', 'Test1229.jpg', 'Test715.jpg', 'Test527.jpg', 'Test1644.jpg', 'Test1743.jpg', 'Test172.jpg', 'Test179.jpg', 'Test779.jpg', 'Test125.jpg', 'Test3985.jpg', 'Test449.jpg', 'Test661.jpg', 'Test835.jpg', 'Test141.jpg', 'Test3118.jpg', 'Test606.jpg', 'Test131.jpg', 'Test3934.jpg', 'Test2309.jpg', 'Test107.jpg', 'Test2114.jpg', 'Test374.jpg', 'Test105.jpg', 'Test581.jpg', 'Test238.jpg', 'Test3030.jpg', 'Test3750.jpg', 'Test422.jpg', 'Test113.jpg', 'Test397.jpg', 'Test243.jpg', 'Test140.jpg', 'Test128.jpg', 'Test242.jpg', 'Test126.jpg', 'Test237.jpg', 'Test3277.jpg', 'Test1161.jpg', 'Test135.jpg', 'Test233.jpg', 'Test173.jpg', 'Test192.jpg', 'Test198.jpg', 'Test194.jpg', 'Test176.jpg', 'Test945.jpg', 'Test231.jpg', 'Test1279.jpg', 'Test1271.jpg', 'Test440.jpg', 'Test132.jpg', 'Test2068.jpg', 'Test1884.jpg', 'Test3294.jpg', 'Test3749.jpg', 'Test957.jpg', 'Test3893.jpg', 'Test133.jpg', 'Test103.jpg', 'Test165.jpg', 'Test1724.jpg', 'Test158.jpg', 'Test1240.jpg', 'Test218.jpg', 'Test221.jpg', 'Test211.jpg', 'Test861.jpg', 'Test859.jpg', 'Test1992.jpg', 'Test811.jpg', 'Test3625.jpg', 'Test353.jpg', 'Test3706.jpg', 'Test122.jpg', 'Test803.jpg', 'Test2049.jpg', 'Test400.jpg', 'Test245.jpg', 'Test526.jpg', 'Test833.jpg', 'Test250.jpg', 'Test2650.jpg', 'Test1022.jpg', 'Test1012.jpg', 'Test1934.jpg', 'Test2616.jpg', 'Test360.jpg', 'Test2791.jpg', 'Test3024.jpg', 'Test2411.jpg', 'Test162.jpg', 'Test225.jpg', 'Test2977.jpg', 'Test417.jpg', 'Test2434.jpg', 'Test1001.jpg', 'Test187.jpg', 'Test751.jpg', 'Test249.jpg', 'Test3798.jpg', 'Test760.jpg', 'Test1902.jpg', 'Test587.jpg', 'Test482.jpg', 'Test834.jpg', 'Test2455.jpg', 'Test160.jpg', 'Test912.jpg', 'Test2590.jpg', 'Test161.jpg', 'Test188.jpg', 'Test227.jpg', 'Test2280.jpg', 'Test937.jpg', 'Test180.jpg', 'Test149.jpg', 'Test1954.jpg', 'Test1818.jpg', 'Test168.jpg', 'Test228.jpg', 'Test129.jpg', 'Test2648.jpg', 'Test1199.jpg', 'Test183.jpg', 'Test2870.jpg', 'Test516.jpg', 'Test644.jpg', 'Test761.jpg', 'Test204.jpg', 'Test152.jpg', 'Test216.jpg', 'Test3975.jpg', 'Test884.jpg', 'Test143.jpg', 'Test201.jpg', 'Test3512.jpg', 'Test244.jpg', 'Test1353.jpg', 'Test533.jpg', 'Test239.jpg', 'Test119.jpg', 'Test164.jpg', 'Test3265.jpg', 'Test1889.jpg', 'Test2962.jpg', 'Test929.jpg', 'Test134.jpg', 'Test2743.jpg', 'Test166.jpg', 'Test3360.jpg', 'Test3525.jpg', 'Test2424.jpg', 'Test1620.jpg', 'Test209.jpg', 'Test234.jpg', 'Test191.jpg', 'Test1923.jpg', 'Test117.jpg', 'Test837.jpg', 'Test240.jpg', 'Test136.jpg', 'Test2792.jpg', 'Test114.jpg', 'Test3177.jpg', 'Test903.jpg', 'Test665.jpg', 'Test206.jpg', 'Test236.jpg', 'Test1359.jpg', 'Test3159.jpg', 'Test144.jpg', 'Test677.jpg', 'Test489.jpg', 'Test1615.jpg', 'Test212.jpg', 'Test624.jpg'])

In [57]:
import os
import pytesseract as pyt
from PIL import Image
import matplotlib.image as mpimg
import glob
import pandas as pd

text_list=[]
filenames=[]
images_path=glob.iglob('Data Files/Dataset/*.jpg')

for file_name in images_path:
  #print(file_name)
  text = pyt.image_to_string(Image.open(file_name))
  text_list.append(text)
  filenames.append(file_name)
  
'''for file,text in zip(filenames,text_list):
   print(file , text)

# folder
data =os.listdir('Data Files/Dataset/')
for filename in os.listdir('Data Files/Dataset/'):
  text = pyt.image_to_string(Image.open(data+filename))
  print(text)'''

"for file,text in zip(filenames,text_list):\n   print(file , text)\n\n# folder\ndata =os.listdir('Data Files/Dataset/')\nfor filename in os.listdir('Data Files/Dataset/'):\n  text = pyt.image_to_string(Image.open(data+filename))\n  print(text)"

list

In [58]:

data1=pd.DataFrame(filenames,columns=['filename'])# creating dataframe
data1.insert(1, "text", text_list, True) # adding text data to dataframe

data1.filename=data1.filename.str[19:] # slicing filename 

dataset=data1[:] # copying dataframe for safety
dataset.head()

       filename                                               text
0  Test1359.jpg
1   Test660.jpg  Se aad\n\nate\nCB LSU\neer ee a\nSenn\n\n2g) M...
2   Test526.jpg  hLedemhenia\nLeslee teriebenel\nPe arcleneteal...
3  Test2455.jpg
4  Test2977.jpg

In [59]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.12.0)

!nltk.download()

In [62]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [61]:
!pip install -q wordcloud
import wordcloud
import nltk
from nltk.corpus import stopwords
# print(stopwords.words('english'))

import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
from bs4 import BeautifulSoup
import re

nltk.download('stopwords')


def clean_sentences(df):
    reviews = []

    for sent in (df['text']):
        
        #remove html content
        review_text = BeautifulSoup(sent).get_text()
        
        #remove non-alphabetic characters
        review_text = re.sub("[^a-zA-Z]"," ", review_text)
    
        #tokenize the sentences
        words = word_tokenize(review_text.lower())
        
        stops = set(stopwords.words("english"))                  
    # 
        # 5. Remove stop words
        meaningful_words = [w for w in words if not w in stops]
    
        #lemmatize each word to its lemma
        lemma_words = [lemmatizer.lemmatize(i) for i in meaningful_words]
    
        reviews.append(lemma_words)

    return(reviews)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [73]:
dataset['preprocessed_text']=clean_sentences(dataset)
dataset.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       filename  ...                                  preprocessed_text
0  Test1359.jpg  ...                                                 []
1   Test660.jpg  ...  [se, aad, ate, cb, lsu, eer, ee, senn, g, hy, ...
2   Test526.jpg  ...  [hledemhenia, leslee, teriebenel, pe, arclenet...
3  Test2455.jpg  ...                                                 []
4  Test2977.jpg  ...                                                 []

[5 rows x 3 columns]

In [84]:
# dataset['length']=dataset['preprocessed_text'].str.len()
dataset['length'].value_counts()

0      112
3       12
4       11
8        9
6        8
10       8
1        7
5        7
7        6
20       5
2        4
12       4
13       4
14       4
18       4
16       3
11       3
9        3
33       3
19       2
15       2
24       2
26       2
21       1
32       1
39       1
38       1
36       1
34       1
28       1
31       1
29       1
22       1
25       1
17       1
40       1
161      1
Name: length, dtype: int64

In [87]:

test=dataset[dataset['length']==0] # these are the values with 0 means neutral
test.head()

       filename text preprocessed_text  length
0  Test1359.jpg                     []       0
3  Test2455.jpg                     []       0
4  Test2977.jpg                     []       0
5   Test161.jpg                     []       0
7   Test140.jpg                     []       0

In [103]:
test['sentiment']='Random'
test.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       filename text preprocessed_text  length sentiment
0  Test1359.jpg                     []       0    Random
3  Test2455.jpg                     []       0    Random
4  Test2977.jpg                     []       0    Random
5   Test161.jpg                     []       0    Random
7   Test140.jpg                     []       0    Random

In [104]:
# train_data=dataset[dataset['length']!=0]
train_data.shape

(127, 5)

In [92]:
train_data_X = tokenizer.texts_to_sequences(train_data['preprocessed_text'])

train_data_X = sequence.pad_sequences(train_data_X,maxlen=161)

In [93]:
pred=model.predict_classes(train_data_X)
print(pred)

WARNING:tensorflow:From <ipython-input-93-37e71d3e07d1>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
WARNING:tensorflow:Model was constructed with shape (None, 37) for input Tensor("embedding_1_input:0", shape=(None, 37), dtype=float32), but it was called on an input with incompatible shape (None, 161).
[0 0 0 4 0 4 0 4 4 0 4 0 4 4 4 0 0 4 0 4 4 4 4 4 4 4 4 0 4 0 0 0 4 0 4 4 0
 4 4 4 4 4 4 4 4 4 0 4 4 0 4 4 4 4 4 4 4 4 0 4 0 4 4 4 0 0 4 4 4 0 0 4 0 4
 0 4 4 4 4 4 4 4 4 4 4 4 4 4 0 4 4 4 4 0 4 4 4 4 4 4 0 4 4 4 4 4 0 4 4 4 4
 4 0 4 0 4 0 4 4 4 4 4 4 0 0 0 0]

In [98]:
# train_data['sentiment']=pred
# train_data.head()
train_data1=train_data[:]
train_data1.head()

        filename  ... sentiment
1    Test660.jpg  ...         0
2    Test526.jpg  ...         0
6    Test523.jpg  ...         0
8   Test1071.jpg  ...         4
11   Test668.jpg  ...         0

[5 rows x 5 columns]

In [106]:
train_data1['sentiment']=train_data1['sentiment'].replace('negative','Negative')
train_data1['sentiment']=train_data1['sentiment'].replace('positive','Positive')
train_data1.head()

        filename  ... sentiment
1    Test660.jpg  ...  Negative
2    Test526.jpg  ...  Negative
6    Test523.jpg  ...  Negative
8   Test1071.jpg  ...  Positive
11   Test668.jpg  ...  Negative

[5 rows x 5 columns]

In [88]:
type(test)

pandas.core.frame.DataFrame

In [107]:
result=pd.concat([train_data1,test])
result.head()

        filename  ... sentiment
1    Test660.jpg  ...  Negative
2    Test526.jpg  ...  Negative
6    Test523.jpg  ...  Negative
8   Test1071.jpg  ...  Positive
11   Test668.jpg  ...  Negative

[5 rows x 5 columns]

In [110]:
# result=result.sort_values(by='filename')
result.shape

(239, 5)

In [113]:
# result=result.rename({'filename':'Filename','sentiment':'Category'})
submission=result.drop(['text','preprocessed_text','length'],axis=1)
submission.head()

         filename sentiment
77    Test100.jpg    Random
208  Test1001.jpg  Positive
165  Test1012.jpg  Positive
42   Test1022.jpg  Positive
38    Test103.jpg    Random

In [116]:
df1=pd.read_csv('Data Files/Test.csv')
df1.head()

       Filename  Category
0  Test1001.jpg       NaN
1  Test1012.jpg       NaN
2  Test1022.jpg       NaN
3  Test1071.jpg       NaN
4  Test1122.jpg       NaN

In [119]:
final=pd.merge(df1,submission,left_on='Filename',right_on='filename',how='left')
final.head()

       Filename  Category      filename sentiment
0  Test1001.jpg       NaN  Test1001.jpg  Positive
1  Test1012.jpg       NaN  Test1012.jpg  Positive
2  Test1022.jpg       NaN  Test1022.jpg  Positive
3  Test1071.jpg       NaN  Test1071.jpg  Positive
4  Test1122.jpg       NaN  Test1122.jpg  Positive

In [126]:
# final=final.drop(columns=['Category','filename'],axis=1)
# final=final.rename({'sentiment':'Category'},axis=1)
final.to_csv('final.csv')

In [114]:
submission.to_csv('submission.csv')

In [127]:
from google.colab import files
s=files.download('final.csv')

In [5]:
! git clone https://github.com/johnksander/twitter_NLP_analysis.git

Cloning into 'twitter_NLP_analysis'...
remote: Enumerating objects: 21, done.
remote: Total 21 (delta 0), reused 0 (delta 0), pack-reused 21
Unpacking objects: 100% (21/21), done.

In [6]:
ls

sample_data/  twitter_NLP_analysis/

In [7]:
ls -lrth twitter_NLP_analysis/

total 82M
-rwxr-xr-x 1 root root  635 Jul  7 06:41 MNB_output.txt*
-rwxr-xr-x 1 root root  347 Jul  7 06:41 README.md*
-rwxr-xr-x 1 root root 2.3K Jul  7 06:41 buildWordVec.py*
-rwxr-xr-x 1 root root  42K Jul  7 06:41 betas.png*
drwxr-xr-x 3 root root 4.0K Jul  7 06:41 data/
-rwxr-xr-x 1 root root 2.9K Jul  7 06:41 runMNB.py*
-rwxr-xr-x 1 root root  329 Jul  7 06:41 lasso_output.txt*
-rwxr-xr-x 1 root root 7.5K Jul  7 06:41 feature_betas.txt*
-rwxr-xr-x 1 root root  82M Jul  7 06:41 training.1600000.processed.noemoticon.csv.zip*
-rwxr-xr-x 1 root root 5.0K Jul  7 06:41 tweet_lasso.py*

In [8]:
cp twitter_NLP_analysis/training.1600000.processed.noemoticon.csv.zip /content/

In [9]:
ls

sample_data/                                    twitter_NLP_analysis/
training.1600000.processed.noemoticon.csv.zip*

In [10]:
mv training.1600000.processed.noemoticon.csv.zip tweets.csv.zip

In [11]:
!unzip tweets.csv.zip

Archive:  tweets.csv.zip
  inflating: training.1600000.processed.noemoticon.csv
   creating: __MACOSX/
  inflating: __MACOSX/._training.1600000.processed.noemoticon.csv

In [12]:
ls

__MACOSX/     training.1600000.processed.noemoticon.csv*  twitter_NLP_analysis/
sample_data/  tweets.csv.zip*

In [13]:
mv training.1600000.processed.noemoticon.csv tweets.csv

In [14]:
import pandas as pd
data=pd.read_csv('tweets.csv',encoding='latin-1')

In [15]:
data=data.rename(columns={'0':'target',"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D" : 'text'})

In [16]:
data=data.drop(columns=['1467810369',"Mon Apr 06 22:19:45 PDT 2009",'NO_QUERY','_TheSpecialOne_'],axis=1)

In [17]:
data.target.value_counts()

4    800000
0    799999
Name: target, dtype: int64

In [18]:
data['clean_sentences']=clean_sentences(data)
data.head()

   target  ...                                    clean_sentences
0       0  ...  [upset, update, facebook, texting, might, cry,...
1       0  ...  [kenichan, dived, many, time, ball, managed, s...
2       0  ...             [whole, body, feel, itchy, like, fire]
3       0  ...              [nationwideclass, behaving, mad, see]
4       0  ...                            [kwesidei, whole, crew]

[5 rows x 3 columns]

In [ ]:
tokenized_tweets=data['clean_sentences']

In [ ]:
for i in range(len(tokenized_tweets)):
    tokenized_tweets[i] = ' '.join(tokenized_tweets[i])    
combine['cleanedText'] = tokenized_tweets

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyboardInterrupt: ignored

In [ ]:
# Creating word Cloud for all Words in all tweets   
allWords = ' '.join([text for text in combine['cleanedText']])  # it must be string not tokens
wordcloud = WordCloud(width=800, height=500, random_state=21, max_font_size=110).generate(allWords)
plt.figure(figsize=(10, 10)) 
plt.imshow(wordcloud, interpolation="bilinear") 
plt.axis('off') 

plt.show()

In [ ]:
test_data['sentences']=dataset['preprocess_text']

allWords = ' '.join([text for text in test_data['sentences']])  # it must be string not tokens
wordcloud = WordCloud(width=800, height=500, random_state=21, max_font_size=110).generate(allWords)
plt.figure(figsize=(10, 10)) 
plt.imshow(wordcloud, interpolation="bilinear") 
plt.axis('off') 
plt.show()

KeyError: ignored

In [19]:
train=data[:]

In [ ]:
train.to_csv('train.csv')

In [ ]:
# train=train.drop(columns='text')
train.to_csv('train.csv')

In [ ]:
from google.colab import files
f=files.download('train.csv')

In [21]:
from tensorflow.keras.utils import to_categorical
import random
# from tensorflow import 
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing import sequence
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.layers import Dense,Dropout,Embedding,LSTM
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.losses import categorical_crossentropy
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Sequential

In [22]:
#from keras.utils import to_categorcial

target=data.target.values
y_target=to_categorical(target)
num_classes=y_target.shape[1]

In [34]:
X_train,X_val,Y_train,Y_val=train_test_split(data['clean_sentences'],y_target,test_size=0.2,stratify=y_target)

In [35]:
unique_words = set()
len_max = 0

for sent in (X_train):
    
    unique_words.update(sent)
    
    if(len_max<len(sent)):
        len_max = len(sent)
        
#length of the list of unique_words gives the no of unique words
print(len(list(unique_words)))
print(len_max)

496200
37

In [36]:
tokenizer = Tokenizer(num_words=len(list(unique_words)))
tokenizer.fit_on_texts(list(X_train))
# tokenizer.fit_on_texts(list(X_val))

In [37]:
X_train = tokenizer.texts_to_sequences(X_train)
X_val = tokenizer.texts_to_sequences(X_val)
# X_test = tokenizer.texts_to_sequences(test_sentences)

#padding done to equalize the lengths of all input reviews. LSTM networks needs all inputs to be same length.
#Therefore reviews lesser than max length will be made equal using extra zeros at end. This is padding.

X_train = sequence.pad_sequences(X_train,maxlen=len_max)
X_val = sequence.pad_sequences(X_val, maxlen=len_max)
# X_test = sequence.pad_sequences(X_test, maxlen=len_max)

print(X_train.shape,X_val.shape)

(1279999, 37) (320000, 37)

In [38]:
early_stopping = EarlyStopping(min_delta = 0.001, mode = 'max', monitor='val_acc', patience = 2)
callback = [early_stopping]

In [40]:
num_classes

5

In [42]:
model=Sequential()
model.add(Embedding(len(list(unique_words)),300,input_length=len_max))
model.add(LSTM(128,dropout=0.5, recurrent_dropout=0.5,return_sequences=True))
model.add(LSTM(64,dropout=0.5, recurrent_dropout=0.5,return_sequences=False))
# model.add(LSTM(64,dropout=0.5, recurrent_dropout=0.5,return_sequences=False))
#model.add(LSTM(32,dropout=0.5, recurrent_dropout=0.5,return_sequences=False))
model.add(Dense(100,activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer=Adam(lr=0.01),metrics=['accuracy'])
model.summary()

WARNING:tensorflow:Layer lstm_3 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
WARNING:tensorflow:Layer lstm_4 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 37, 300)           148860000
_________________________________________________________________
lstm_3 (LSTM)                (None, 37, 128)           219648
_________________________________________________________________
lstm_4 (LSTM)                (None, 64)                49408
_________________________________________________________________
dense (Dense)                (None, 100)               6500
_________________________________________________________________
dropout (Dropout)            (None, 100)               0
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 505
=================================================================
Total params: 149,136,061
Trainable params: 149,136,061
Non-trainable params: 0
_________________________________________________________________

In [45]:
history=model.fit(X_train, Y_train, validation_data=(X_val, Y_val),epochs=1, batch_size=512, verbose=1, callbacks=callback)

2500/2500 [==============================] - ETA: 0s - loss: 0.4815 - accuracy: 0.7736WARNING:tensorflow:Early stopping conditioned on metric `val_acc` which is not available. Available metrics are: loss,accuracy,val_loss,val_accuracy
2500/2500 [==============================] - 4448s 2s/step - loss: 0.4815 - accuracy: 0.7736 - val_loss: 0.4662 - val_accuracy: 0.7827

In [46]:
# Save the weights
model.save_weights('./checkpoints/my_checkpoint')

In [47]:
ls

checkpoints/  sample_data/  tweets.csv.zip*
__MACOSX/     tweets.csv*   twitter_NLP_analysis/

In [48]:
# Save the entire model as a SavedModel.
!mkdir -p saved_model
model.save('saved_model/my_model')

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:1817: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: saved_model/my_model/assets

In [50]:
!ls -lrth

total 309M
-rwxr-xr-x 1 root root 228M Dec 20  2017 tweets.csv
drwxrwxr-x 2 root root 4.0K Dec 20  2017 __MACOSX
drwxr-xr-x 1 root root 4.0K Jun 26 16:26 sample_data
drwxr-xr-x 4 root root 4.0K Jul  7 06:41 twitter_NLP_analysis
-rwxr-xr-x 1 root root  82M Jul  7 06:41 tweets.csv.zip
drwxr-xr-x 2 root root 4.0K Jul  7 09:12 checkpoints
drwxr-xr-x 3 root root 4.0K Jul  7 09:14 saved_model

In [51]:
model.save('my_model.h5')

In [52]:
ls -lrth

total 2.0G
-rwxr-xr-x 1 root root 228M Dec 20  2017 tweets.csv*
drwxrwxr-x 2 root root 4.0K Dec 20  2017 __MACOSX/
drwxr-xr-x 1 root root 4.0K Jun 26 16:26 sample_data/
drwxr-xr-x 4 root root 4.0K Jul  7 06:41 twitter_NLP_analysis/
-rwxr-xr-x 1 root root  82M Jul  7 06:41 tweets.csv.zip*
drwxr-xr-x 2 root root 4.0K Jul  7 09:12 checkpoints/
drwxr-xr-x 3 root root 4.0K Jul  7 09:14 saved_model/
-rw-r--r-- 1 root root 1.7G Jul  7 09:17 my_model.h5